// Primary Color
$Active_color1: hsl(249, 99%, 64%);
$Active_color2: hsl(278, 94%, 30%); 
$Red: hsl(0, 100%, 66%);

// Neutral
$White: hsl(0, 0%, 100%);
$Light_grayish_violet: hsl(270, 3%, 87%);
$Dark_grayish_violet: hsl(279, 6%, 55%);
$Very_dark_violet: hsl(278, 68%, 11%);

// Font
$Space_Grotesk: 'Space Grotesk', sans-serif;
$large: 500;